/* Login.css */

/* Basic container styling */
.login-container {
    min-height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 0px;
  }
  
  .login-card {
    background-color: #ffffff;
    padding: 50px;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    max-width: 500px;
  }
  
  /* Form title styling */
  .login-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-family: Poppins;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s;
  }
  
  .form-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 9px rgba(0, 123, 255, 0.2);
  }
  
  /* Error message styling */
  .form-error {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 4px;
  }
  
  /* Button styling */
  .form-button {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #1a1a1a;
  }
  
  /* Footer link styling */
  .form-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .form-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-link:hover {
    text-decoration: underline;
  }
  